In [2]:
import os

In [3]:
import requests
import json

In [4]:
aggreg_trans

NameError: name 'aggreg_trans' is not defined

In [4]:
import pandas as pd
import json

In [6]:
path="C:/Users/varshinikarthik/Desktop/Varshini/Phonepe/pulse/data/aggregated/transaction/country/india/state/"
aggreg_trans=os.listdir(path)

clm={'State':[], 'Year':[],'Quater':[],'Transaction_type':[], 'Transaction_count':[], 'Transaction_amount':[]}

for i in aggreg_trans:
    p_i=path+i+"/"
    Agg_yr=os.listdir(p_i)
    
    for j in Agg_yr:
        p_j=p_i+j+"/"
        Agg_yr_list=os.listdir(p_j)

        for k in Agg_yr_list:
            p_k=p_j+k
            Data=open(p_k,'r')
            D=json.load(Data)
            
            for z in D['data']['transactionData']:
              Name=z['name']
              count=z['paymentInstruments'][0]['count']
              amount=z['paymentInstruments'][0]['amount']
              clm['Transaction_type'].append(Name)
              clm['Transaction_count'].append(count)
              clm['Transaction_amount'].append(amount)
              clm['State'].append(i)
              clm['Year'].append(j)
              clm['Quater'].append(int(k.strip('.json')))
#Succesfully created a dataframe
Agg_Trans=pd.DataFrame(clm)

In [7]:
Agg_Trans['State']=Agg_Trans['State'].str.replace('andaman-&-nicobar-islands','Andaman & nicobar')
Agg_Trans['State']=Agg_Trans['State'].str.replace("-"," ")
Agg_Trans['State']=Agg_Trans['State'].str.title()
Agg_Trans['State']=Agg_Trans['State'].str.replace('Dadra & Nagar Haveli & Daman & Diu','Dadra and Nagar Haveli and Daman and Diu')

In [8]:
Agg_Trans['State'].unique()

array(['Andaman & Nicobar', 'Andhra Pradesh', 'Arunachal Pradesh',
       'Assam', 'Bihar', 'Chandigarh', 'Chhattisgarh',
       'Dadra and Nagar Haveli and Daman and Diu', 'Delhi', 'Goa',
       'Gujarat', 'Haryana', 'Himachal Pradesh', 'Jammu & Kashmir',
       'Jharkhand', 'Karnataka', 'Kerala', 'Ladakh', 'Lakshadweep',
       'Madhya Pradesh', 'Maharashtra', 'Manipur', 'Meghalaya', 'Mizoram',
       'Nagaland', 'Odisha', 'Puducherry', 'Punjab', 'Rajasthan',
       'Sikkim', 'Tamil Nadu', 'Telangana', 'Tripura', 'Uttar Pradesh',
       'Uttarakhand', 'West Bengal'], dtype=object)

In [76]:
Agg_Trans

,State,Year,Quater,Transaction_type,Transaction_count,Transaction_amount
0,Andaman & Nicobar,2018,1,Recharge & bill payments,4200,1.845307e+06
1,Andaman & Nicobar,2018,1,Peer-to-peer payments,1871,1.213866e+07
2,Andaman & Nicobar,2018,1,Merchant payments,298,4.525072e+05
3,Andaman & Nicobar,2018,1,Financial Services,33,1.060142e+04
4,Andaman & Nicobar,2018,1,Others,256,1.846899e+05
...,...,...,...,...,...,...
4489,West Bengal,2024,1,Merchant payments,407607197,2.732137e+11
4490,West Bengal,2024,1,Peer-to-peer payments,355646156,1.100744e+12
4491,West Bengal,2024,1,Recharge & bill payments,72216060,4.716192e+10
4492,West Bengal,2024,1,Financial Services,451008,5.307383e+08
4493,West Bengal,2024,1,Others,488166,3.750216e+08

In [78]:
Agg_Trans['Transaction_amount'] = Agg_Trans['Transaction_amount'].astype(int)

In [79]:
state = Agg_Trans.groupby('State')['Transaction_amount'].sum().nlargest(5).reset_index()
state

               State  Transaction_amount
0            Mizoram          9404681378
1  Andaman & Nicobar          6364180423
2             Ladakh          4351396454
3        Lakshadweep          1022943136
4             Sikkim           816210024

In [10]:
path1="C:/Users/varshinikarthik/Desktop/Varshini/Phonepe/pulse/data/aggregated/user/country/india/state/"
aggreg_user=os.listdir(path)

clm1={'State':[], 'Year':[],'Quater':[], 'brand':[], 'Transaction_count':[],'percentage':[]}

for i in aggreg_user:
    p_i=path1+i+"/"
    Agg_yr=os.listdir(p_i)
    
    for j in Agg_yr:
        p_j=p_i+j+"/"
        Agg_yr_list=os.listdir(p_j)

        for k in Agg_yr_list:
            p_k=p_j+k
            Data=open(p_k,'r')
            E=json.load(Data)
            try:
                for z in E['data']['usersByDevice']:
                    Brand=z['brand']
                    Count=z['count']
                    percentage=z['percentage']
                    clm1['brand'].append(Brand)
                    clm1['Transaction_count'].append(Count)
                    clm1['percentage'].append(percentage)
                    clm1['State'].append(i)
                    clm1['Year'].append(j)
                    clm1['Quater'].append(int(k.strip('.json')))
            except:
                pass
#Succesfully created a dataframe
Agg_User=pd.DataFrame(clm1)

In [150]:
Agg_User

                  State  Year  Quater    brand  Transaction_count  percentage
0     Andaman & Nicobar  2018       1   Xiaomi               1665    0.247033
1     Andaman & Nicobar  2018       1  Samsung               1445    0.214392
2     Andaman & Nicobar  2018       1     Vivo                982    0.145697
3     Andaman & Nicobar  2018       1     Oppo                501    0.074332
4     Andaman & Nicobar  2018       1  OnePlus                332    0.049258
...                 ...   ...     ...      ...                ...         ...
6727        West Bengal  2022       1   Lenovo             330017    0.015056
6728        West Bengal  2022       1  Infinix             284678    0.012987
6729        West Bengal  2022       1     Asus             280347    0.012790
6730        West Bengal  2022       1    Apple             277752    0.012671
6731        West Bengal  2022       1   Others            2196334    0.100199

[6732 rows x 6 columns]

In [11]:
Agg_User['State']=Agg_User['State'].str.replace('andaman-&-nicobar-islands','Andaman & nicobar')
Agg_User['State']=Agg_User['State'].str.replace("-"," ")
Agg_User['State']=Agg_User['State'].str.title()
Agg_User['State']=Agg_User['State'].str.replace('Dadra & Nagar Haveli & Daman & Diu','Dadra and Nagar Haveli and Daman and Diu')

In [166]:
Agg_User['Year'].unique()

array([2018, 2019, 2020, 2021, 2022])

In [12]:
path2="C:/Users/varshinikarthik/Desktop/Varshini/Phonepe/pulse/data/map/transaction/hover/country/india/state/"
aggreg_user=os.listdir(path2)

clm2={'State':[], 'Year':[],'Quater':[], 'District':[], 'Transaction_count':[],'Transaction_amount':[]}

for i in aggreg_user:
    p_i=path2+i+"/"
    Agg_yr=os.listdir(p_i)
    
    for j in Agg_yr:
        p_j=p_i+j+"/"
        Agg_yr_list=os.listdir(p_j)

        for k in Agg_yr_list:
            p_k=p_j+k
            Data=open(p_k,'r')
            F=json.load(Data)
            
            for z in F['data']['hoverDataList']:
                    Name=z['name']
                    Count=z['metric'][0]['count']
                    Amount=z['metric'][0]['amount']
                    clm2['District'].append(Name)
                    clm2['Transaction_count'].append(Count)
                    clm2['Transaction_amount'].append(Amount)
                    clm2['State'].append(i)
                    clm2['Year'].append(j)
                    clm2['Quater'].append(int(k.strip('.json')))
                                          
#Succesfully created a dataframe
Map_Trans=pd.DataFrame(clm2)

In [16]:
Map_Trans

,State,Year,Quater,District,Transaction_count,Transaction_amount
0,Andaman & Nicobar,2018,1,north and middle andaman district,442,9.316631e+05
1,Andaman & Nicobar,2018,1,south andaman district,5688,1.256025e+07
2,Andaman & Nicobar,2018,1,nicobars district,528,1.139849e+06
3,Andaman & Nicobar,2018,2,north and middle andaman district,825,1.317863e+06
4,Andaman & Nicobar,2018,2,south andaman district,9395,2.394824e+07
...,...,...,...,...,...,...
18291,West Bengal,2024,1,nadia district,42154481,7.903014e+10
18292,West Bengal,2024,1,birbhum district,24812300,4.640025e+10
18293,West Bengal,2024,1,purba medinipur district,46212626,9.237355e+10
18294,West Bengal,2024,1,maldah district,42299563,7.671603e+10
18295,West Bengal,2024,1,darjiling district,18129044,2.927784e+10

In [13]:
Map_Trans['State']=Map_Trans['State'].str.replace('andaman-&-nicobar-islands','Andaman & nicobar')
Map_Trans['State']=Map_Trans['State'].str.replace("-"," ")
Map_Trans['State']=Map_Trans['State'].str.title()
Map_Trans['State']=Map_Trans['State'].str.replace('Dadra & Nagar Haveli & Daman & Diu','Dadra and Nagar Haveli and Daman and Diu')

In [58]:
Map_Trans['Year'].unique()

array([2018, 2019, 2020, 2021, 2022, 2023, 2024])

In [14]:
path3="C:/Users/varshinikarthik/Desktop/Varshini/Phonepe/pulse/data/map/user/hover/country/india/state/"
map_user=os.listdir(path2)

clm3={'State':[], 'Year':[],'Quater':[], 'District':[], 'Registered_user':[],'Appopens':[]}

for i in aggreg_user:
    p_i=path3+i+"/"
    Agg_yr=os.listdir(p_i)
    
    for j in Agg_yr:
        p_j=p_i+j+"/"
        Agg_yr_list=os.listdir(p_j)

        for k in Agg_yr_list:
            p_k=p_j+k
            Data=open(p_k,'r')
            F=json.load(Data)
            
            for z in F['data']['hoverData'].items():       
                    district=z[0]
                    registered_user=z[1]['registeredUsers']
                    appOpens=z[1]['appOpens']
                    clm3['District'].append(district)
                    clm3['Registered_user'].append(registered_user)
                    clm3['Appopens'].append(appOpens)
                    clm3['State'].append(i)
                    clm3['Year'].append(j)
                    clm3['Quater'].append(int(k.strip('.json')))
                                          
#Succesfully created a dataframe
Map_User=pd.DataFrame(clm3)

In [68]:
Map_User

,State,Year,Quater,District,Registered_user,Appopens
0,Andaman & Nicobar,2018,1,north and middle andaman district,632,0
1,Andaman & Nicobar,2018,1,south andaman district,5846,0
2,Andaman & Nicobar,2018,1,nicobars district,262,0
3,Andaman & Nicobar,2018,2,north and middle andaman district,911,0
4,Andaman & Nicobar,2018,2,south andaman district,8143,0
...,...,...,...,...,...,...
18295,West Bengal,2024,1,nadia district,1671140,13679202
18296,West Bengal,2024,1,birbhum district,1056537,30502875
18297,West Bengal,2024,1,purba medinipur district,1655920,18688405
18298,West Bengal,2024,1,maldah district,1183956,33270738
18299,West Bengal,2024,1,darjiling district,686254,31485682

In [15]:
Map_User['State']=Map_User['State'].str.replace('andaman-&-nicobar-islands','Andaman & nicobar')
Map_User['State']=Map_User['State'].str.replace("-"," ")
Map_User['State']=Map_User['State'].str.title()
Map_User['State'].str.replace('Dadra & Nagar Haveli & Daman & Diu','Dadra and Nagar Haveli and Daman and Diu')

0        Andaman & Nicobar
1        Andaman & Nicobar
2        Andaman & Nicobar
3        Andaman & Nicobar
4        Andaman & Nicobar
               ...
18295          West Bengal
18296          West Bengal
18297          West Bengal
18298          West Bengal
18299          West Bengal
Name: State, Length: 18300, dtype: object

In [16]:
path4="C:/Users/varshinikarthik/Desktop/Varshini/Phonepe/pulse/data/top/transaction/country/india/state/"
top_trans=os.listdir(path4)

clm4={'State':[], 'Year':[],'Quater':[], 'Pincode':[], 'Transaction_count':[],'Transaction_amount':[]}

for i in aggreg_user:
    p_i=path4+i+"/"
    Agg_yr=os.listdir(p_i)
    
    for j in Agg_yr:
        p_j=p_i+j+"/"
        Agg_yr_list=os.listdir(p_j)

        for k in Agg_yr_list:
            p_k=p_j+k
            Data=open(p_k,'r')
            E=json.load(Data)
            
            for z in E['data']['pincodes']:       
                    pincode=z['entityName']
                    count=z['metric']['count']
                    amount=z['metric']['amount']
                    clm4['Pincode'].append(pincode)
                    clm4['Transaction_count'].append(count)
                    clm4['Transaction_amount'].append(amount)
                    clm4['State'].append(i)
                    clm4['Year'].append(j)
                    clm4['Quater'].append(int(k.strip('.json')))
                                          
#Succesfully created a dataframe
top_trans=pd.DataFrame(clm4)

In [20]:
top_trans

,State,Year,Quater,Pincode,Transaction_count,Transaction_amount
0,Andaman & Nicobar,2018,1,744101,1622,2.769298e+06
1,Andaman & Nicobar,2018,1,744103,1223,2.238042e+06
2,Andaman & Nicobar,2018,1,744102,969,3.519060e+06
3,Andaman & Nicobar,2018,1,744105,685,1.298561e+06
4,Andaman & Nicobar,2018,1,744104,340,1.039715e+06
...,...,...,...,...,...,...
8919,West Bengal,2024,1,732125,4490229,7.014125e+09
8920,West Bengal,2024,1,700006,4358390,8.114395e+09
8921,West Bengal,2024,1,700001,4321119,8.497021e+09
8922,West Bengal,2024,1,732201,4265219,9.908795e+09
8923,West Bengal,2024,1,742202,3985791,8.428173e+09

In [17]:
top_trans['State']=top_trans['State'].str.replace('andaman-&-nicobar-islands','Andaman & nicobar')
top_trans['State']=top_trans['State'].str.replace("-"," ")
top_trans['State']=top_trans['State'].str.title()
top_trans['State'].str.replace('Dadra & Nagar Haveli & Daman & Diu','Dadra and Nagar Haveli and Daman and Diu')

0       Andaman & Nicobar
1       Andaman & Nicobar
2       Andaman & Nicobar
3       Andaman & Nicobar
4       Andaman & Nicobar
              ...
8919          West Bengal
8920          West Bengal
8921          West Bengal
8922          West Bengal
8923          West Bengal
Name: State, Length: 8924, dtype: object

In [18]:
path5='C:/Users/varshinikarthik/Desktop/Varshini/Phonepe/pulse/data/top/user/country/india/state/'

top_use=os.listdir(path5)

clm5={'State':[], 'Year':[],'Quater':[], 'Pincode':[], 'RegisteredUsers':[]}


for i in aggreg_user:
    p_i=path5+i+"/"
    Agg_yr=os.listdir(p_i)
    
    for j in Agg_yr:
        p_j=p_i+j+"/"
        Agg_yr_list=os.listdir(p_j)

        for k in Agg_yr_list:
            p_k=p_j+k
            Data=open(p_k,'r')
            R=json.load(Data)
            
            for z in R['data']['pincodes']:       
                    pincode=z['name']
                    registeredUsers=z['registeredUsers']
                    clm5['Pincode'].append(pincode)
                    clm5['RegisteredUsers'].append(registeredUsers)
                    clm5['State'].append(i)
                    clm5['Year'].append(j)
                    clm5['Quater'].append(int(k.strip('.json')))
#Succesfully created a dataframe
top_user=pd.DataFrame(clm5)

In [23]:
top_user

                  State  Year  Quater Pincode  RegisteredUsers
0     Andaman & Nicobar  2018       1  744103             1608
1     Andaman & Nicobar  2018       1  744101             1108
2     Andaman & Nicobar  2018       1  744105             1075
3     Andaman & Nicobar  2018       1  744102             1006
4     Andaman & Nicobar  2018       1  744104              272
...                 ...   ...     ...     ...              ...
8920        West Bengal  2024       1  700015           131676
8921        West Bengal  2024       1  742304           127917
8922        West Bengal  2024       1  721101           127891
8923        West Bengal  2024       1  700150           123919
8924        West Bengal  2024       1  700091           122985

[8925 rows x 5 columns]

In [19]:
top_user['State']=top_user['State'].str.replace('andaman-&-nicobar-islands','Andaman & nicobar')
top_user['State']=top_user['State'].str.replace("-"," ")
top_user['State']=top_user['State'].str.title()
top_user['State'].str.replace('Dadra & Nagar Haveli & Daman & Diu','Dadra and Nagar Haveli and Daman and Diu')

0       Andaman & Nicobar
1       Andaman & Nicobar
2       Andaman & Nicobar
3       Andaman & Nicobar
4       Andaman & Nicobar
              ...
8920          West Bengal
8921          West Bengal
8922          West Bengal
8923          West Bengal
8924          West Bengal
Name: State, Length: 8925, dtype: object

In [42]:
import mysql.connector
mydb = mysql.connector.connect(
 host="localhost",
 user="root",
 password="",
 database="phonepe",
 )

mycursor = mydb.cursor(buffered=True)

In [28]:
mycursor.execute("create database phonepe")

In [42]:
create_table_query = '''
CREATE TABLE IF NOT EXISTS phonepe.Agg_Trans (
    state VARCHAR(255),
    year INT,
    quarter INT,
    transaction_type VARCHAR(255),
    transaction_count BIGINT,
    transaction_amount BIGINT
)'''

mycursor.execute(create_table_query)
mydb.commit()

insert_table_query = '''
INSERT INTO phonepe.Agg_Trans (
    state, 
    year, 
    quarter, 
    transaction_type, 
    transaction_count, 
    transaction_amount
) VALUES (%s, %s, %s, %s, %s, %s)'''

listdata = Agg_Trans.values.tolist()  # Assuming Agg_Trans is a DataFrame or similar

# Execute many inserts at once
mycursor.executemany(insert_table_query, listdata)
mydb.commit()

In [48]:
create_table_query1 = '''
CREATE TABLE IF NOT EXISTS phonepe.Agg_User (
    state VARCHAR(255),
    year INT,
    quarter INT,
    brand VARCHAR(255),
    count BIGINT,
    percentage BIGINT
)'''

mycursor.execute(create_table_query1)
mydb.commit()

insert_table_query1 = '''
INSERT INTO phonepe.Agg_User (
    state, 
    year, 
    quarter, 
    brand, 
    count, 
    percentage
) VALUES (%s, %s, %s, %s, %s, %s)'''

listdata1 = Agg_User.values.tolist()  

# Execute many inserts at once
mycursor.executemany(insert_table_query1, listdata1)
mydb.commit()

In [50]:
mycursor.execute('''ALTER TABLE phonepe.Agg_User
                  MODIFY COLUMN percentage DECIMAL(10,5)''')


listdata1 = Agg_User.values.tolist()

# Insert table query
insert_table_query1 = '''
INSERT INTO phonepe.Agg_User (
    state, 
    year, 
    quarter, 
    brand, 
    count, 
    percentage
) VALUES (%s, %s, %s, %s, %s, %s)
'''

# Delete existing rows to avoid duplicates
delete_query = 'DELETE FROM phonepe.Agg_User'
mycursor.execute(delete_query)
mydb.commit()

# Execute many inserts at once
mycursor.executemany(insert_table_query1, listdata1)
mydb.commit()

In [57]:
create_table_query2 = '''
CREATE TABLE IF NOT EXISTS phonepe.Map_Trans (
    state VARCHAR(255),
    year INT,
    quarter INT,
    district VARCHAR(255),
    transaction_count BIGINT,
    transaction_amount BIGINT
)'''

# Execute create table query
mycursor.execute(create_table_query2)
mydb.commit()

# Insert table query
insert_table_query2 = '''
INSERT INTO phonepe.Map_Trans (
    state, 
    year, 
    quarter, 
    district, 
    transaction_count, 
    transaction_amount
) VALUES (%s, %s, %s, %s, %s, %s)'''

# Assuming Map_Trans is a pandas DataFrame
listdata2 = Map_Trans.values.tolist()

# Chunk size for splitting the data
chunk_size = 1000

# Split the data into chunks and insert them sequentially
for i in range(0, len(listdata2), chunk_size):
    chunk = listdata2[i:i + chunk_size]
    mycursor.executemany(insert_table_query2, chunk)
    mydb.commit()

In [64]:
create_table_query3 = '''
CREATE TABLE IF NOT EXISTS phonepe.Map_User (
    state VARCHAR(255),
    year INT,
    quarter INT,
    District VARCHAR(255),
    Registered_user BIGINT,
    Appopens BIGINT
)'''

mycursor.execute(create_table_query3)
mydb.commit()

insert_table_query3 = '''
INSERT INTO phonepe.Map_User (
    state, 
    year, 
    quarter, 
    District, 
    Registered_user, 
    Appopens
) VALUES (%s, %s, %s, %s, %s, %s)'''

listdata3 = Map_User.values.tolist()  # Assuming Agg_Trans is a DataFrame or similar

# Chunk size for splitting the data
chunk_size1 = 1000

# Split the data into chunks and insert them sequentially
for i in range(0, len(listdata3), chunk_size1):
    chunk = listdata3[i:i + chunk_size1]
    mycursor.executemany(insert_table_query3, chunk)
    mydb.commit()

In [66]:
create_table_query4 = '''
CREATE TABLE IF NOT EXISTS phonepe.top_trans (
    state VARCHAR(255),
    year INT,
    quarter INT,
    Pincode INT,
    Transaction_count BIGINT,
    Transaction_amount BIGINT
)'''

# Execute create table query
mycursor.execute(create_table_query4)
mydb.commit()

# Insert table query
insert_table_query4 = '''
INSERT INTO phonepe.top_trans (
    state, 
    year, 
    quarter, 
    Pincode, 
    Transaction_count, 
    Transaction_amount
) VALUES (%s, %s, %s, %s, %s, %s)'''


listdata4 = top_trans.values.tolist()

# Chunk size for splitting the data
chunk_size2 = 1000

# Split the data into chunks and insert them sequentially
for i in range(0, len(listdata4), chunk_size2):
    chunk = listdata4[i:i + chunk_size2]
    mycursor.executemany(insert_table_query4, chunk)
    mydb.commit()

In [67]:
create_table_query5 = '''
CREATE TABLE IF NOT EXISTS phonepe.top_user (
    state VARCHAR(255),
    year INT,
    quarter INT,
    Pincode INT,
    RegisteredUsers BIGINT
)'''

# Execute create table query
mycursor.execute(create_table_query5)
mydb.commit()

# Insert table query
insert_table_query5 = '''
INSERT INTO phonepe.top_user (
    state, 
    year, 
    quarter, 
    Pincode, 
    RegisteredUsers
) VALUES (%s, %s, %s, %s, %s)'''


listdata5 = top_user.values.tolist()

# Chunk size for splitting the data
chunk_size3 = 1000

# Split the data into chunks and insert them sequentially
for i in range(0, len(listdata5), chunk_size3):
    chunk = listdata4[i:i + chunk_size3]
    mycursor.executemany(insert_table_query4, chunk)
    mydb.commit()

In [68]:
!pip install nbformat

Requirement already satisfied: nbformat in c:\users\varshinikarthik\desktop\varshini\guvi\lib\site-packages (5.10.4)
Requirement already satisfied: fastjsonschema>=2.15 in c:\users\varshinikarthik\desktop\varshini\guvi\lib\site-packages (from nbformat) (2.19.1)
Requirement already satisfied: jsonschema>=2.6 in c:\users\varshinikarthik\desktop\varshini\guvi\lib\site-packages (from nbformat) (4.21.1)
Requirement already satisfied: jupyter-core!=5.0.*,>=4.12 in c:\users\varshinikarthik\desktop\varshini\guvi\lib\site-packages (from nbformat) (5.7.2)
Requirement already satisfied: traitlets>=5.1 in c:\users\varshinikarthik\desktop\varshini\guvi\lib\site-packages (from nbformat) (5.14.2)
Requirement already satisfied: attrs>=22.2.0 in c:\users\varshinikarthik\desktop\varshini\guvi\lib\site-packages (from jsonschema>=2.6->nbformat) (23.2.0)
Requirement already satisfied: jsonschema-specifications>=2023.03.6 in c:\users\varshinikarthik\desktop\varshini\guvi\lib\site-packages (from jsonschema>=2.6->nbformat) (2023.12.1)
Requirement already satisfied: referencing>=0.28.4 in c:\users\varshinikarthik\desktop\varshini\guvi\lib\site-packages (from jsonschema>=2.6->nbformat) (0.34.0)
Requirement already satisfied: rpds-py>=0.7.1 in c:\users\varshinikarthik\desktop\varshini\guvi\lib\site-packages (from jsonschema>=2.6->nbformat) (0.18.0)
Requirement already satisfied: platformdirs>=2.5 in c:\users\varshinikarthik\desktop\varshini\guvi\lib\site-packages (from jupyter-core!=5.0.*,>=4.12->nbformat) (4.2.0)
Requirement already satisfied: pywin32>=300 in c:\users\varshinikarthik\desktop\varshini\guvi\lib\site-packages (from jupyter-core!=5.0.*,>=4.12->nbformat) (306)

In [69]:
!pip install plotly

Requirement already satisfied: plotly in c:\users\varshinikarthik\desktop\varshini\guvi\lib\site-packages (5.21.0)
Requirement already satisfied: tenacity>=6.2.0 in c:\users\varshinikarthik\desktop\varshini\guvi\lib\site-packages (from plotly) (8.2.3)
Requirement already satisfied: packaging in c:\users\varshinikarthik\desktop\varshini\guvi\lib\site-packages (from plotly) (23.2)

In [24]:
import plotly.express as px

In [110]:
#def Transaction_year_amount:
ty = Agg_Trans[Agg_Trans["Year"] == 2021]

In [112]:
ty

Empty DataFrame
Columns: [State, Year, Quater, Transacion_type, Transacion_count, Transacion_amount]
Index: []

In [ ]:
ty.reset_index(drop=True,inplace=True)

tg = ty.groupby("State")[["Transacion_count","Transacion_amount"]].sum()
tg.reset_index(inplace=True)

famount=px.bar(tg,x ="State",y="Transacion_amount")
famount.show()

In [24]:
Agg_Trans

,State,Year,Quater,Transacion_type,Transacion_count,Transacion_amount
0,Andaman & Nicobar,2018,1,Recharge & bill payments,4200,1.845307e+06
1,Andaman & Nicobar,2018,1,Peer-to-peer payments,1871,1.213866e+07
2,Andaman & Nicobar,2018,1,Merchant payments,298,4.525072e+05
3,Andaman & Nicobar,2018,1,Financial Services,33,1.060142e+04
4,Andaman & Nicobar,2018,1,Others,256,1.846899e+05
...,...,...,...,...,...,...
4489,West Bengal,2024,1,Merchant payments,407607197,2.732137e+11
4490,West Bengal,2024,1,Peer-to-peer payments,355646156,1.100744e+12
4491,West Bengal,2024,1,Recharge & bill payments,72216060,4.716192e+10
4492,West Bengal,2024,1,Financial Services,451008,5.307383e+08
4493,West Bengal,2024,1,Others,488166,3.750216e+08

In [82]:
Agg_Trans['Year'] = Agg_Trans['Year'].astype(int)
Map_Trans['Year'] = Map_Trans['Year'].astype(int)
top_trans['Year'] = top_trans['Year'].astype(int)
Map_User['Year'] = Map_User['Year'].astype(int)

In [53]:
print(Agg_Trans['Year'].unique())

[2018 2019 2020 2021 2022 2023 2024]

In [26]:
Agg_Trans

,State,Year,Quater,Transaction_type,Transaction_count,Transaction_amount
0,Andaman & Nicobar,2018,1,Recharge & bill payments,4200,1.845307e+06
1,Andaman & Nicobar,2018,1,Peer-to-peer payments,1871,1.213866e+07
2,Andaman & Nicobar,2018,1,Merchant payments,298,4.525072e+05
3,Andaman & Nicobar,2018,1,Financial Services,33,1.060142e+04
4,Andaman & Nicobar,2018,1,Others,256,1.846899e+05
...,...,...,...,...,...,...
4489,West Bengal,2024,1,Merchant payments,407607197,2.732137e+11
4490,West Bengal,2024,1,Peer-to-peer payments,355646156,1.100744e+12
4491,West Bengal,2024,1,Recharge & bill payments,72216060,4.716192e+10
4492,West Bengal,2024,1,Financial Services,451008,5.307383e+08
4493,West Bengal,2024,1,Others,488166,3.750216e+08

In [21]:
def Transaction_analysis(df, Year):
    ta = df[df['Year'] == Year]
    agg_trans_state = pd.DataFrame(ta.groupby('State')[['Transaction_count', 'Transaction_amount']].sum().reset_index())
    
    fig_amount = px.bar(
            agg_trans_state,
            x="State",
            y="Transaction_amount",
            title=f"{Year} Transaction Amount",
            color_discrete_sequence=px.colors.sequential.Agsunset,
            height=580,
            width=520
        )
    fig_amount.show()

    fig_count = px.bar(
            agg_trans_state,
            x="State",
            y="Transaction_count",
            title=f"{Year} Transaction Count",
            color_discrete_sequence=px.colors.sequential.Redor,
            height=580,
            width=520
        )
    fig_count.show()

    # Load the geojson data for India states
    url = "https://gist.githubusercontent.com/jbrobst/56c13bbbf9d97d187fea01ca62ea5112/raw/e388c4cae20aa53cb5090210a42ebb9b765c0a36/india_states.geojson"
    response = requests.get(url)
    data = response.json()
    
    # Create a sorted list of state names
    states = sorted([feature["properties"]["ST_NM"] for feature in data["features"]])

    # Choropleth map for Transaction Amount
    fig_india = px.choropleth(
            agg_trans_state,
            geojson=data,
            locations="State",
            featureidkey="properties.ST_NM",
            color="Transaction_amount",
            color_continuous_scale="rainbow",
            range_color=(agg_trans_state["Transaction_amount"].min(), agg_trans_state["Transaction_amount"].max()),
            hover_data=["State"],
            title="Transaction Amount",
            fitbounds="locations",
            height=600,
            width=600
        )
    fig_india.update_geos(visible=False)
    fig_india.show()

    fig_india1 = px.choropleth(
            agg_trans_state,
            geojson=data,
            locations="State",
            featureidkey="properties.ST_NM",
            color="Transaction_count",
            color_continuous_scale="rainbow",
            range_color=(agg_trans_state["Transaction_count"].min(), agg_trans_state["Transaction_count"].max()),
            hover_data=["State"],
            title="Transaction Count",
            fitbounds="locations",
            height=600,
            width=600
        )
    fig_india1.update_geos(visible=False)
    fig_india1.show()

    return ta

In [22]:
ta = Agg_Trans[Agg_Trans['Year'] == 2020]
agg_trans_state = pd.DataFrame(ta.groupby('State')[['Transaction_count', 'Transaction_amount']].sum().reset_index())
    
agg_trans_state

Empty DataFrame
Columns: [State, Transaction_count, Transaction_amount]
Index: []

In [23]:
Transactionyear=pd.DataFrame (Transaction_analysis(Map_Trans,2023))

NameError: name 'px' is not defined

In [113]:
def Transaction_analysis_by_type(df, State):
    # Filter the DataFrame by the selected state
    ta = df[df['State'] == State]
    agg_trans_state_type = ta.groupby('Transaction_type')[['Transaction_count', 'Transaction_amount']].sum().reset_index()

    fig_amount = px.pie(
        data_frame=agg_trans_state_type,
        values="Transaction_amount",
        names="Transaction_type",
        title="Transaction Amount by Type",
        height=580,
        width=520,
        hole=0.1,
        color_discrete_sequence=px.colors.sequential.Agsunset
    )
    fig_amount.show()

    fig_count = px.pie(
        data_frame=agg_trans_state_type,
        values="Transaction_count",
        names="Transaction_type",
        title="Transaction Count by Type",
        height=580,
        width=520,
        hole=0.1,
        color_discrete_sequence=px.colors.sequential.Redor
    )
    fig_count.show()

In [114]:
ans=Transaction_analysis_by_type(Transactionyear, "West Bengal")

KeyError: 'Transaction_type'

In [32]:
def Transaction_amount_count_Y_Q(df, Quarter):
    tacy= df[df["Quarter"] == Quarter]
    tacy.reset_index(drop = True, inplace= True)

    tacyg= tacy.groupby("States")[["Transaction_count","Transaction_amount"]].sum()
    tacyg.reset_index(inplace= True)


    fig_amount= px.bar(tacyg, x="States", y="Transaction_amount", title=f"{tacy['Years'].min()} YEAR {quarter} QUARTER TRANSACTION AMOUNT",
                    color_discrete_sequence=px.colors.sequential.Aggrnyl, height= 650,width= 600)
    fig_amount.show


    fig_count= px.bar(tacyg, x="States", y="Transaction_count", title=f"{tacy['Years'].min()} YEAR {quarter} QUARTER TRANSACTION COUNT",
                    color_discrete_sequence=px.colors.sequential.Bluered_r, height= 650,width= 600)
    fig_count.show


    url= "https://gist.githubusercontent.com/jbrobst/56c13bbbf9d97d187fea01ca62ea5112/raw/e388c4cae20aa53cb5090210a42ebb9b765c0a36/india_states.geojson"
    response= requests.get(url)
    data1= json.loads(response.content)
    states_name= []
    for feature in data1["features"]:
        states_name.append(feature["properties"]["ST_NM"])

    states_name.sort()

    fig_india_1= px.choropleth(tacyg, geojson= data1, locations= "States", featureidkey= "properties.ST_NM",
                            color= "Transaction_amount", color_continuous_scale= "Rainbow",
                            range_color= (tacyg["Transaction_amount"].min(), tacyg["Transaction_amount"].max()),
                            hover_name= "States", title= f"{tacy['Years'].min()} YEAR {quarter} QUARTER TRANSACTION AMOUNT", fitbounds= "locations",
                            height= 600,width= 600)
    fig_india_1.update_geos(visible= False)
    fig_india_1.show()
    
    fig_india_2= px.choropleth(tacyg, geojson= data1, locations= "States", featureidkey= "properties.ST_NM",
                            color= "Transaction_count", color_continuous_scale= "Rainbow",
                            range_color= (tacyg["Transaction_count"].min(), tacyg["Transaction_count"].max()),
                            hover_name= "States", title= f"{tacy['Years'].min()} YEAR {quarter} QUARTER TRANSACTION COUNT", fitbounds= "locations",
                            height= 600,width= 600)
    fig_india_2.update_geos(visible= False)
    fig_india_2.show()

In [ ]:
Transaction_amount_count_Y_Q(Agg_Trans, 2)

In [48]:
Agg_User['Year'] = Agg_User['Year'].astype(int)

In [151]:
Agg_User

                  State  Year  Quater    brand  Transaction_count  percentage
0     Andaman & Nicobar  2018       1   Xiaomi               1665    0.247033
1     Andaman & Nicobar  2018       1  Samsung               1445    0.214392
2     Andaman & Nicobar  2018       1     Vivo                982    0.145697
3     Andaman & Nicobar  2018       1     Oppo                501    0.074332
4     Andaman & Nicobar  2018       1  OnePlus                332    0.049258
...                 ...   ...     ...      ...                ...         ...
6727        West Bengal  2022       1   Lenovo             330017    0.015056
6728        West Bengal  2022       1  Infinix             284678    0.012987
6729        West Bengal  2022       1     Asus             280347    0.012790
6730        West Bengal  2022       1    Apple             277752    0.012671
6731        West Bengal  2022       1   Others            2196334    0.100199

[6732 rows x 6 columns]

In [33]:
def Aggregated_User_Brand(df,Year):
    agguser=df[df["Year"] == Year]
    au=agguser.groupby("brand")[["Transaction_count","percentage"]].sum().reset_index()

    fig_tcount = px.bar(
            au,
            x="brand",
            y="Transaction_count",
            title="Transaction Count",
            color_discrete_sequence=px.colors.sequential.Agsunset,
            height=580,
            width=520
        )
    fig_tcount.show()


    fig_count = px.bar(
            au,
            x="brand",
            y="percentage",
            title="Percentage",
            color_discrete_sequence=px.colors.sequential.Redor,
            height=580,
            width=520
        )
    fig_count.show()

In [ ]:
Agg_User_Brand= Aggregated_User_Brand(Agg_User,2021)

In [34]:
def Aggre_user_plot_2(df,quater):
    au= df[df["Quater"] == quater]
    au.reset_index(drop= True, inplace= True)
    
    fig_bar= px.bar(data_frame=au, 
                      x= "brand", 
                      y="Transaction_count", 
                      hover_data= "percentage",
                      width=1000,
                      title=f"{quater} QUARTER TRANSACTION COUNT PERCENTAGE",
                      color_discrete_sequence= px.colors.sequential.PuBuGn_r)
    fig_bar.show()

In [ ]:
Aggre_user_plot_2(Agg_User,2)

In [35]:
def Aggre_user_plot_3(df,state):
    agq= df[df["State"] == state]
    agq.reset_index(drop= True, inplace= True)

    aguqyg= pd.DataFrame(agq.groupby("brand")["Transaction_count"].sum())
    aguqyg.reset_index(inplace= True)

    fig_scatter_1= px.line(aguqyg, x= "brand", y= "Transaction_count", markers= True,width=1000)
    fig_scatter_1.show()

In [36]:
def Aggre_user_plot_3(df, state):
    agq = df[df["State"] == state]
    agq.reset_index(drop=True, inplace=True)

    aguqyg = pd.DataFrame(agq.groupby("brand")["Transaction_count"].sum())
    aguqyg.reset_index(inplace=True)

    fig_area = px.area(aguqyg, x="brand", y="Transaction_count", title=f"Transaction Count by Brand in {state}",
                       labels={"brand": "Brand", "Transaction_count": "Transaction Count"}, width=1000)
    fig_area.show()

In [ ]:
Aggre_user_plot_3(Agg_User, "West Bengal")

In [ ]:
Aggre_user_plot_3(Agg_User,"West Bengal")

In [218]:
Map_Trans

,State,Year,Quater,District,Transaction_count,Transaction_amount
0,Andaman & Nicobar,2018,1,north and middle andaman district,442,9.316631e+05
1,Andaman & Nicobar,2018,1,south andaman district,5688,1.256025e+07
2,Andaman & Nicobar,2018,1,nicobars district,528,1.139849e+06
3,Andaman & Nicobar,2018,2,north and middle andaman district,825,1.317863e+06
4,Andaman & Nicobar,2018,2,south andaman district,9395,2.394824e+07
...,...,...,...,...,...,...
18291,West Bengal,2024,1,nadia district,42154481,7.903014e+10
18292,West Bengal,2024,1,birbhum district,24812300,4.640025e+10
18293,West Bengal,2024,1,purba medinipur district,46212626,9.237355e+10
18294,West Bengal,2024,1,maldah district,42299563,7.671603e+10
18295,West Bengal,2024,1,darjiling district,18129044,2.927784e+10

In [50]:
Map_Trans['Year'] = Map_Trans['Year'].astype(int)
Map_User['Year'] = Map_User['Year'].astype(int)
top_trans['Year']=top_trans['Year'].astype(int)
top_user['Year']=top_user['Year'].astype(int)

In [56]:
def map_Transaction_District(df, state):
    # Filter data for the selected state
    maptr = df[df["State"] == state]
    ms = maptr.groupby("District")[["Transaction_count", "Transaction_amount"]].sum()
    ms.reset_index(inplace=True)

    # Create the first bar chart for transaction amount
    fig_map_bar_1 = px.bar(ms, 
                           x="District", 
                           y="Transaction_amount", 
                           width=600, 
                           height=500, 
                           title=f"District Transaction Amount of {state}",
                           color_discrete_sequence=px.colors.sequential.Mint_r)
    
    # Display the first bar chart in Streamlit
    fig_map_bar_1.show()

    # Create the second bar chart for transaction count
    fig_map_bar_2 = px.bar(ms, 
                           x="District", 
                           y="Transaction_count", 
                           width=600, 
                           height=500, 
                           title=f"District Transaction Count of {state}",
                           color_discrete_sequence=px.colors.sequential.Bluered_r)
    
    # Display the second bar chart in Streamlit
    fig_map_bar_2.show()

In [ ]:
Map_Trans

In [57]:
Map_Trans_dist = map_Transaction_District(Map_Trans,"Tamil Nadu")

In [59]:
Map_User

,State,Year,Quater,District,Registered_user,Appopens
0,Andaman & Nicobar,2018,1,north and middle andaman district,632,0
1,Andaman & Nicobar,2018,1,south andaman district,5846,0
2,Andaman & Nicobar,2018,1,nicobars district,262,0
3,Andaman & Nicobar,2018,2,north and middle andaman district,911,0
4,Andaman & Nicobar,2018,2,south andaman district,8143,0
...,...,...,...,...,...,...
18295,West Bengal,2024,1,nadia district,1671140,13679202
18296,West Bengal,2024,1,birbhum district,1056537,30502875
18297,West Bengal,2024,1,purba medinipur district,1655920,18688405
18298,West Bengal,2024,1,maldah district,1183956,33270738
18299,West Bengal,2024,1,darjiling district,686254,31485682

In [74]:
def Map_User_regis(df, state):
    mapuser = df[df["State"] == state]
    mu = mapuser.groupby("District")[["Registered_user", "Appopens"]].sum().reset_index()

    fig_tcount = px.bar(
        mu,
        x="District",
        y="Registered_user",
        title=f"Registered Users in {state}",
        color_discrete_sequence=px.colors.sequential.YlGnBu_r,
        height=580,
        width=520
    )
    fig_tcount.show()

    fig_count = px.bar(
        mu,
        x="District",
        y="Appopens",
        title=f"App Opens in {state}",
        color_discrete_sequence=px.colors.sequential.Oranges_r,
        height=580,
        width=520
    )
    fig_count.show()

In [ ]:
Map_User_regis(Map_User,"Tamil Nadu")

In [99]:
def map_user_plot_1(df, year):
    mapyear = df[df["Year"] == year]
    mapyear.reset_index(drop=True, inplace=True)
    muyg = mapyear.groupby("State")[["Registered_user", "Appopens"]].sum()
    muyg.reset_index(inplace=True)

    # Plot for Registered Users
    fig_registered_users = px.bar(
        muyg, 
        x="State", 
        y="Registered_user", 
        title=f"{year} Registered Users by State", 
        color_discrete_sequence=px.colors.sequential.Viridis_r, 
        height=400, 
        width=800
    )
    fig_registered_users.show()
    # Plot for App Opens
    fig_app_opens = px.bar(
        muyg, 
        x="State", 
        y="Appopens", 
        title=f"{year} App Opens by State", 
        color_discrete_sequence=px.colors.sequential.Viridis, 
        height=400, 
        width=800
    )
    fig_app_opens.show()

    return mapyear

In [104]:
def map_user_plot_treemap(df, year):
    mapyear = df[df["Year"] == year]
    mapyear.reset_index(drop=True, inplace=True)
    muyg = mapyear.groupby("State")[["Registered_user", "Appopens"]].sum()
    muyg.reset_index(inplace=True)
    
    muyg_long = pd.melt(muyg, id_vars=['State'], value_vars=['Registered_user', 'Appopens'], 
                        var_name='Metric', value_name='Count')

    fig_treemap = px.treemap(muyg_long, path=['State', 'Metric'], values='Count', 
                             color='Metric', 
                             color_discrete_sequence=px.colors.sequential.Viridis_r,
                             title=f"{year} Registered Users and App Opens by State")
    fig_treemap.show()

    return mapyear

In [105]:
map_user_plot_treemap(Map_User,2018)

,State,Year,Quater,District,Registered_user,Appopens
0,Andaman & Nicobar,2018,1,north and middle andaman district,632,0
1,Andaman & Nicobar,2018,1,south andaman district,5846,0
2,Andaman & Nicobar,2018,1,nicobars district,262,0
3,Andaman & Nicobar,2018,2,north and middle andaman district,911,0
4,Andaman & Nicobar,2018,2,south andaman district,8143,0
...,...,...,...,...,...,...
2923,West Bengal,2018,4,nadia district,325690,0
2924,West Bengal,2018,4,birbhum district,228310,0
2925,West Bengal,2018,4,purba medinipur district,323889,0
2926,West Bengal,2018,4,maldah district,225768,0
2927,West Bengal,2018,4,darjiling district,121183,0

In [27]:
Agg_Trans

,State,Year,Quater,Transaction_type,Transaction_count,Transaction_amount
0,Andaman & Nicobar,2018,1,Recharge & bill payments,4200,1.845307e+06
1,Andaman & Nicobar,2018,1,Peer-to-peer payments,1871,1.213866e+07
2,Andaman & Nicobar,2018,1,Merchant payments,298,4.525072e+05
3,Andaman & Nicobar,2018,1,Financial Services,33,1.060142e+04
4,Andaman & Nicobar,2018,1,Others,256,1.846899e+05
...,...,...,...,...,...,...
4489,West Bengal,2024,1,Merchant payments,407607197,2.732137e+11
4490,West Bengal,2024,1,Peer-to-peer payments,355646156,1.100744e+12
4491,West Bengal,2024,1,Recharge & bill payments,72216060,4.716192e+10
4492,West Bengal,2024,1,Financial Services,451008,5.307383e+08
4493,West Bengal,2024,1,Others,488166,3.750216e+08

In [26]:
top_trans

,State,Year,Quater,Pincode,Transaction_count,Transaction_amount
0,Andaman & Nicobar,2018,1,744101,1622,2.769298e+06
1,Andaman & Nicobar,2018,1,744103,1223,2.238042e+06
2,Andaman & Nicobar,2018,1,744102,969,3.519060e+06
3,Andaman & Nicobar,2018,1,744105,685,1.298561e+06
4,Andaman & Nicobar,2018,1,744104,340,1.039715e+06
...,...,...,...,...,...,...
8919,West Bengal,2024,1,732125,4490229,7.014125e+09
8920,West Bengal,2024,1,700006,4358390,8.114395e+09
8921,West Bengal,2024,1,700001,4321119,8.497021e+09
8922,West Bengal,2024,1,732201,4265219,9.908795e+09
8923,West Bengal,2024,1,742202,3985791,8.428173e+09

In [29]:
top_trans['Quater'].unique()

array([1, 2, 3, 4], dtype=int64)

In [25]:
top_user

                  State  Year  Quater Pincode  RegisteredUsers
0     Andaman & Nicobar  2018       1  744103             1608
1     Andaman & Nicobar  2018       1  744101             1108
2     Andaman & Nicobar  2018       1  744105             1075
3     Andaman & Nicobar  2018       1  744102             1006
4     Andaman & Nicobar  2018       1  744104              272
...                 ...   ...     ...     ...              ...
8920        West Bengal  2024       1  700015           131676
8921        West Bengal  2024       1  742304           127917
8922        West Bengal  2024       1  721101           127891
8923        West Bengal  2024       1  700150           123919
8924        West Bengal  2024       1  700091           122985

[8925 rows x 5 columns]

In [36]:
def Top_analysis_by_pincode(df, State):
    # Filter the DataFrame by the selected state
    ta = df[df['State'] == State]
    agg_trans_state_type = ta.groupby('Pincode')[['Transaction_count', 'Transaction_amount']].sum().reset_index()

    fig_amount = px.line(
        data_frame=agg_trans_state_type,
        x="Pincode",
        y="Transaction_amount",
        title="Transaction Amount by Pincode",
        markers=True,
        color_discrete_sequence=px.colors.sequential.Agsunset,
        height=580,
        width=800
    )
    fig_amount.show()

    # Line chart for Transaction Count by Pincode
    fig_count = px.line(
        data_frame=agg_trans_state_type,
        x="Pincode",
        y="Transaction_count",
        title="Transaction Count by Pincode",
        markers=True,
        color_discrete_sequence=px.colors.sequential.Redor,
        height=580,
        width=800
    )
    fig_count.show()

In [37]:
Top_analysis_by_pincode(top_trans, "Tamil Nadu")

In [53]:
import streamlit as st
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy.orm import sessionmaker

In [67]:
# Connect to your SQL database
engine = create_engine('mysql+pymysql://root:@localhost:3306/phonepe')

def fetch_data(table_name):
    query = f"SELECT * FROM {table_name};"
    df = pd.read_sql(query, engine)
    return df

In [73]:
table_names = (["Aggregated transaction","Aggregated user","Map Transaction",
                    "Map transaction","map user","Top Transaction","Top User"])

In [74]:
def main():
    st.title('Database Viewer')

    # Create buttons for each table
    for table_name in table_names:
        if st.button(f"Show {table_name}"):
            st.session_state['table_selected'] = table_name

    # Display data from the selected table
    if st.session_state['table_selected']:
        data = fetch_data(st.session_state['table_selected'])
        st.write(f"Data from {st.session_state['table_selected']}:")
        st.dataframe(data)

In [75]:
db1= main()
db1

2024-06-07 16:51:08.183 Session state does not function when running a script without `streamlit run`

KeyError: 'st.session_state has no key "table_selected". Did you forget to initialize it? More info: https://docs.streamlit.io/library/advanced-features/session-state#initialization'

In [ ]:
!pip install streamlit sqlalchemy pandas

In [59]:
table_name = fetch_data("agg_trans")

In [60]:
def main():
    st.title('Database Viewer')

    # Create buttons for each table
    for table_name in table_name:
        if st.button(f"Show {table_name}"):
            st.session_state['table_selected'] = table_name

    # Display data from the selected table
    if st.session_state['table_selected']:
        data = fetch_data(st.session_state['table_selected'])
        st.write(f"Data from {st.session_state['table_selected']}:")
        st.dataframe(data)